*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*.xcuserdata
*.xcschememanagement.plist
build-*
ipch/*
gui/*

Icon?
.DS_Stor*
build/Genesis.aaxplugin

build/Genesis.app

build/Genesis.build/Debug/AAX.build/dgph

build/Genesis.build/Debug/AAX.build/dgph~

build/Genesis.build/Debug/AAX.build/Genesis-all-non-framework-target-headers.hmap

build/Genesis.build/Debug/AAX.build/Genesis-generated-files.hmap

*.hmap

*.LinkFileList

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/Hosts.d

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/Hosts.dia

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/Hosts.o

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IGraphicsMac.d

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IGraphicsMac.dia

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IPlugBase.d

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IPlugBase.dia

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IPlugBase.o

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IPlugStructs.d

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IPlugStructs.dia

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/IPlugStructs.o

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/swell-gdi.d

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/swell-gdi.dia

build/Genesis.build/Debug/AAX.build/Objects-normal/x86_64/swell-gdi.o

build/Genesis.build/Debug/AAX.build/Preprocessed-Info.plist

build/Genesis.build/Debug/APP.build/dgph

build/Genesis.build/Debug/APP.build/dgph~

build/Genesis.build/Debug/APP.build/MainMenu-PartialInfo.plist

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-appstub.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-appstub.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-appstub.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-dlg.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-dlg.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-dlg.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-gdi.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-gdi.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-gdi.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-ini.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-ini.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-ini.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-kb.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-kb.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-kb.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-menu.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-menu.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-menu.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-misc.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-misc.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-misc.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-miscdlg.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-miscdlg.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-miscdlg.o

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swell-wnd.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swellappmain.d

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swellappmain.dia

build/Genesis.build/Debug/APP.build/Objects-normal/x86_64/swellappmain.o

build/Genesis.build/Debug/AU.build/dgph

build/Genesis.build/Debug/AU.build/Script-4F744D4C14005ADA002FAD90.sh

build/Genesis.build/Debug/VST2.build/dgph

build/Genesis.build/Debug/VST3.build/dgph

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/AAX.xcscheme

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/All.xcscheme

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/APP.xcscheme

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/AU.xcscheme

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/RTAS.xcscheme

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/VST2.xcscheme

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/VST3.xcscheme

Genesis.xcodeproj/xcuserdata/bernardahn.xcuserdatad/xcschemes/xcschememanagement.plist
Genesis.VC.VC.opendb
